<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045625310565-l6tf71u6nj8dlm1mje6qkeo24sglmm0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045625310565-l6tf71u6nj8dlm1mje6qkeo24sglmm0k</string>
	<key>API_KEY</key>
	<string>AIzaSyA1fSi35xCknrgxwPbJ7-dEg4JRrLz0euw</string>
	<key>GCM_SENDER_ID</key>
	<string>1045625310565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sreenidhi.OneSports</string>
	<key>PROJECT_ID</key>
	<string>sreenidhisports</string>
	<key>STORAGE_BUCKET</key>
	<string>sreenidhisports.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045625310565:ios:4e3a987f53bd0f0d0da58c</string>
</dict>
</plist>