<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439464976399-k3jqb96ijett0dihbgqhj5k5tpvk5i00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439464976399-k3jqb96ijett0dihbgqhj5k5tpvk5i00</string>
	<key>API_KEY</key>
	<string>AIzaSyDoL6nahFpMLsMIFcp6YwjCz5kT0Jl6ER4</string>
	<key>GCM_SENDER_ID</key>
	<string>439464976399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sreenidhi1.OneSports</string>
	<key>PROJECT_ID</key>
	<string>sreenidhi1sports-1378a</string>
	<key>STORAGE_BUCKET</key>
	<string>sreenidhi1sports-1378a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439464976399:ios:86b014a414833d04d8437a</string>
</dict>
</plist>